.channel-list-container {
    padding-top: 5px;
    padding-bottom: 5px;
}


.no-channels-status-message {
    font-size: 13px;
    font-style: italic;
    color: #8e9297;
    padding: 5px 15px;
    display: block;
}


.channel-item-link {
    text-decoration: none;
    color: #8e9297; 
    display: flex; 
    align-items: center;
    padding: 6px 10px 6px 15px; 
    margin: 0 8px; 
    border-radius: 4px;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.channel-item-link:hover {
    color: #dcddde; 
    background-color:#4f545c; 
}

.channel-item-link.active-channel {
    color: white; 
    background-color: #40444b; 
    font-weight: 500;
}

.channel-icon {
    font-weight: 500;
    margin-right: 6px;
    font-size: 18px; 
    line-height: 1; 
}

.channel-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}